<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <form [formGroup]="formEventAdd">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input  type="number" placeholder="Código" formControlName="pcodeEvent"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  type="text" placeholder="Agregar Evento" formControlName="peventName"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  color="primary" size="large" type="submit" expand="block" 
            (click)="addEvent()" [disabled]="!formEventAdd.valid">Agregar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>