<ion-header [translucent]="false">
  <ion-toolbar id="containerC">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/main/add' ]">
        <ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title><h2>APP Futbolera</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

  <div id="container">
    <ion-card *ngFor="let matches of match">
      <ion-item>
        <ion-button slot="end" (click)="view(matches.codeMatch)">Ver</ion-button>
        <ion-card-header>
          <ion-card-title>{{matches.teamOne}} {{matches.scoreOne}}</ion-card-title>
          <ion-card-title>{{matches.teamTwo}} {{matches.scoreTwo}}</ion-card-title>
        </ion-card-header>
      </ion-item>
      <ion-item>
        <ion-button slot="start" [routerLink]="['/main/add-event' ]">Agregar Evento</ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
