<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content id="container" color="secondary">
  <div id="container">
  <ion-card>
    <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
    
      <ion-card-subtitle align="center">{{match.teamOne}}</ion-card-subtitle>
    </ion-col>
    <ion-col size="6">
      <ion-card-subtitle align="center">{{match.teamTwo}}</ion-card-subtitle>
    </ion-col>

</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-card-title align="center">
      {{match.scoreOne}}
    </ion-card-title>
  </ion-col>
  <ion-col size="6">
    <ion-card-title align="center">
    {{match.scoreTwo}}
  </ion-card-title>
  </ion-col>
</ion-row>
</ion-grid>
</ion-card-header>
<ion-card-content>
</ion-card-content>
</ion-card>
</div>
<ion-card>
<ion-card-content>
  <ion-card-subtitle>{{match.event}}</ion-card-subtitle>
  <app-main [eventName]="eventName"></app-main>
  </ion-card-content>
</ion-card>
</ion-content>